* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-brand-secundary); 
}

.container {
    margin-left: auto;
    margin-right: auto;
}

:root{
    --color-brand-primary: #1d99ff;
    --color-brand-secundary: #ff455b;
  
    --color-brand-erro: #ff15526e;
    --color-brand-info: #3da4f3;
    --color-feedback-success: #00c689;
    --color-feedback-warning: #fdbf35;
  
    --color-text-dark: #708AA1;
    --color-text-light: #aebdc9;
  
    --color-interface-light: #f1f4f6;
    --color-interface-dark: #d5e0ec;
  
    --color-common-light: #ffffff;
    --color-common-dark: #000000;
  
    --spacing-xsmall: 4px;
    --spacing-small: 8px;
    --spacing-default: 16px;
    --spacing-medium: 24px;
    --spacing-large: 32px;
    --spacing-xlarge: 40px;
  } 

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    background-color: var(--color-interface-light);
  }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

header {
    padding-top: var(--spacing-default);
    padding-bottom: var(--spacing-default);
    background-color: var(--color-interface-light);
    border-bottom: 1px solid var(--color-brand-secundary);
}

.header-item {
    display: flex;
    justify-content: space-between;
}

.section {
    background-color: var(--color-interface-light);
  }

.button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.title {
    line-height: 1.5;
    letter-spacing: -1px;
    font-weight: 500;
    color: var(--color-text-light);
}

.subtitle {
    line-height: 1.2;
    font-weight: 700;
    color: var(--color-brand-primary);
}

.container {
    width: 94vw;
    margin-left: auto;
    margin-right: auto;
}

.form-task {
    margin-top: var(--spacing-large);
}

.form-task-label {
    display: inline-block;
    align-items: flex-start;
    color: var(--color-text-dark);
    font-weight: 700;
}

.form-task-input {
    display: inline-block;
    width: 100vw;
    height: 5vh;
    border-style: none;
    border:1px solid var(--color-text-dark);
    border-radius: 5px;
}

.form-task-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    width: 17vw;
    height: 5vh;
    color: var(--color-common-light);
    background-color: var(--color-brand-secundary);
    border:2vw solid var(--color-brand-secundary);
    border-radius: 1vw;
}

.div-input-button {
    display: flex;
    justify-content: flex-start;
}

.task1 {
    margin-top: 7vh;
    display:flex;
    border: 1px solid var(--color-brand-secundary);
    padding: 5px;
    padding-left: 2vw;
  }  

.task2 {
    margin-top: 2vh;
    display:flex;
    border: 1px solid var(--color-brand-secundary);
    padding: 5px;
    padding-left: 2vw;
  }

.nome-task1 {
    text-decoration: line-through;
    padding-left: 3vw;
  }

.nome-task2 {
    padding-left: 3vw;
  }

.add-task {
    border-bottom: 1px solid var(--color-brand-secundary); 
    padding-bottom: var(--spacing-xlarge);
  }

.button-edit {
    margin-left: auto;
  }

.button-delete {
    padding-left: 3vw;
  }
  
.button-edit,
.button-delete {
    color: var(--color-text-dark);
}

input[type="checkbox"]:checked {
  accent-color: var(--color-text-dark);
}

@media (min-width: 768px) and (max-width:1400px) {
  .form-task-button {
    width: 10vw;
    height: 5vh;
  }

  input[type="checkbox"] {
    width: 2vw;
    height: 4vw;
  }

  .nome-task1,
  .nome-task2 {
    padding-top: 0.3em;
  }
}

@media (min-width:1440px)  {
  .form-task-button {
      width: 10vw;
      height: 3vh;
    }

  .form-task-input {
      width: 150vw;
      height: 5.5vh;
    }

    input[type="checkbox"] {
      width: 1.2vw;
      height: 2.1vw;
    }
  }

@media (min-width:2560px) {
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  
    body {
      font-size: 3em;
    }
  
    .material-symbols-outlined.menu,
    .material-symbols-outlined.add,
    .material-symbols-outlined.edit,
    .material-symbols-outlined.delete {
      font-size: 4em;
    }

    .form-task-input {
      border-radius: 0.6vw;
      border: 0.1vw solid var(--color-text-dark);
    }
  
  
    input[type="checkbox"] {
      width: 1.4vw;
      height: 2.3vw;
    }
    
    html {
      border: 0.1vw solid var(--color-brand-secundary);  
    }
  
    header {
      border-bottom: 0.1vw solid var(--color-brand-secundary);
    }
  
    .add-task {
      border-bottom: 0.1vw solid var(--color-brand-secundary); 
    }
  
    .task1,
    .task2 {
      border: 0.1vw solid var(--color-brand-secundary);  
    }
  }